<div class="example-container">    
    <mat-card>
        <form>
            <mat-form-field>
                    <input matInput placeholder="Email" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">
                        {{ getErrorMessage() }}
                    </mat-error>
            </mat-form-field><br>
            <mat-form-field>
                    <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                    </button>
            </mat-form-field>
        </form>
        <button mat-raised-button type="submit" routerLink="perfil" color="primary" style="margin: 6px;" >
            sigin
        </button>                 
        <button mat-raised-button color="primary">
            volver
        </button>
    </mat-card>
    <router-outlet></router-outlet>
</div>