<div>
    <mat-card>
        <form >
            <label>Registro</label>
            <p>{{ errorMessage }}</p>           
            
            <mat-form-field>
                <input matInput placeholder="Nombre" id="first_name" name="first_name" required>
            </mat-form-field><br>
            <mat-form-field>
                    <input matInput placeholder="Apellido" type="text" id="last_name" name="last_name" required>
            </mat-form-field><br>
            <mat-form-field>
                <input matInput placeholder="NickName" id="username" name="username" maxlength="30">                    
            </mat-form-field><br>
            <mat-form-field>
                <input matInput placeholder="Email" [formControl]="email" type="email" id="email" name="email" required>
                    <mat-error *ngIf="email.invalid">
                        {{ getErrorMessage() }}
                    </mat-error>
            </mat-form-field><br>
            <mat-form-field>
                    <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" id="password" name="password" >
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
            </mat-form-field><br>
            <mat-form-field>
                    <input matInput placeholder="Confirma tu contraseña" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
            </mat-form-field><br>
            <button mat-raised-button type="submit" color="primary">Registrase</button>
        </form>
    </mat-card>
</div>
